@using clgproj.UI.Shared

<h3>Dashboard</h3>

@code {

}
@page "/dashboard"

<PageHeader Title="Dashboard" />

<p>Welcome to Smart Agriculture Dashboard 🌱</p>


<h1>Dashboard</h1>

<div class="card-grid">
    <div class="card">🌱 Plants</div>
    <div class="card">💧 Watering</div>
    <div class="card">🌿 Fertilizer</div>
    <div class="card">🧾 Invoices</div>
</div>
