@using clgproj.UI.Shared
@inherits LayoutComponentBase


<div class="main-layout">
    <nav class="top-bar">
        🌿 Smart Agriculture Dashboard
    </nav

<main class="content">
    @Body
</main>
</div>

