<h3>NavMenu</h3>

@code {

}
<nav class="side-menu">
    <NavLink href="/dashboard">Dashboard</NavLink>
    <NavLink href="/plants">Plants</NavLink>
    <NavLink href="/watering/schedule">Watering</NavLink>
    <NavLink href="/fertilizer">Fertilizer</NavLink>
    <NavLink href="/invoice">Invoices</NavLink>
</nav>
